.account-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  @media (max-width: 1024px) {
    display: none;
  }
}

.account-navlink {
  @media (min-width: 990px) {
    display: none;
  }
}

.header-navbar {
  gap: 20px;
}
