:root { 
  --disabled: #9E9E9E;
  --light-purple: #f3e5f5;
  --primary-purple: #9b27b0;
  --dark-purple: #49148c;
  --dark-purple1: #691b9a;
  --light-gray: #FAFAFA;
  --dark-gray: #616161;
  --light-green: #e7f5e5;
  --secondary-green: #3cb027;
  --light-purple100: #e1bee7;
}