:root { 
  --disabled: #9E9E9E;
  --light-purple: #f3e5f5;
  --primary-purple: #9b27b0;
  --dark-purple: #49148c;
  --dark-purple1: #9B27B0;
  --light-gray: #FAFAFA;
  --dark-gray: #616161;
  --light-green: #e7f5e5;
}